button {
  height: 3em;
  width: 9em;
  border: none;
  background: none;
  color: white;
  font-size: 1.1em;
  text-align: left;
  border-radius: 0em 2em 2em 0em;
  padding-left: .5em;
}

button:hover {
  background: orange;
}

h2 {
  color: orange;
  margin: .5em 0 1em -1em;
}

button:focus {
  background-color: orange;
  outline: none;
}
