.news-article {
  height: 27em;
  width: 28em;
  background: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  height: 16.5em;
  width: 28em;
}

p, a {
  font-size: .8em;
}

.article-link {
  background: purple;
  color: white;
  height: 2em;
  text-align: left;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}
